@import "kpmp-base.scss";
@import "info-schematics.scss";
@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.min.css";
@import "../node_modules/kpmp-common-styles/index.scss";

//importing pieces of bootstrap instead of importing all of bootstrap
@import "../node_modules/bootstrap/scss/functions";

//pass variable overrides
@import "../node_modules/bootstrap/scss/variables";


.hidden {
  display: none;
}

.kpmp-color-dark {
  color: $kpmp-blue;
}

.centered {
  text-align: center;
}

.background-light-blue {
  background-color: #cee5ff;
}

.font-size-three-rem {
  font-size: 3rem;
}

.font-size-one-one-half-rem {
  font-size: 1.5rem;
}

.inactive {
  color: lightgray;
}

.rt-tr.-odd {
  background: #cee5ff !important;
}

.cell-type-list {
  list-style-type: none;
}

#total-row {
  background: white !important;
}
.MuiTableCell-root {
  padding: 2px !important;
}

.MuiTableRow-root .btn {
  font-size: 14px;
}

.MuiPaper-elevation2 {
  box-shadow: none !important;
}

tr.MuiTableRow-root:nth-child(even) {
  background: #cee5ff;
}

.MuiTableCell-footer {
  border-bottom: 0px !important;
}

#summary-plot {
  .center {  
    text-align: center!important  
  }  
}

#cell-type-tabs {
  .col-sm-4 {
    @media (max-width: 992px) {
      -webkit-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .nav-link.active {
    background-color: #007bff;
    color: white;
  }

  .nav-link {
    color: #007bff;
    border-radius: 5px;
    padding: 0.5rem 2rem;
  }

  .nav-link:hover {
    color: white;
    background-color: #007bff;
  }

  .cell-type-list {
    padding-left: 0px;
    @media (max-width: 992px) {
      position: relative;
      width: 100%;
      .ul {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
    }
  }

  .nav-item {
    cursor: pointer;
    @media (max-width: 992px) {
      width: 100%;
      padding-top: 0.5rem;
    }
  }
  .nav-tabs {
    border-bottom: 0px;
  }

  .tab-content {
    padding-top: 1em;
  }

  .collapsed {
    cursor: pointer;
  }

  .open {
    cursor: pointer;
  }

  .collapsed svg {
    padding-right: 10px;
  }
  .open svg {
    padding-right: 10px;
  }

  .tbd-schema {
    background-color: lightgray;
    text-align: center;
    line-height: 650px;
    font-size: xx-large;
  }

  .subregion-name {
    font-size: 14px;
    font-weight: 700;
  }

  .btn.btn-link{
    font-size:14px;
    width: 100%
  }
  .btn.btn-link:hover {
    background-color: #cee5ff;
    text-decoration: underline;
  }

}

.expression-table,
.cell-summary-table .rt-td {
  line-height: 13px;
}

.expression-table .rt-th.rt-resizable-header {
  text-align: left;
  font-weight: 500;
  font-style: normal;
}

.rt-th.rt-resizable-header {
  text-align: left;
}

.ReactTable.cell-summary-table .rt-thead .rt-th,
.ReactTable.gene-summary-table .rt-thead .rt-th {
  border-right: rgba(0, 0, 0, 0) !important;
}

.cell-summary-table.ReactTable .rt-tr {
  align-items: center;
}

.gene-summary-table {
  text-align: left;
}

.gene-summary-table {
  text-align: left;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
}

.gene-summary-header,
.cell-summary-table-header {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
}

.cell-summary-table-button {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.gene-summary-table button {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.gene-summary-table .data-type {
  font-weight: 400;
}

.expression-table,
.cell-summary-table
  .d-flex.justify-content-center.col-4.offset-8:nth-child(1)
  > span:nth-child(1) {
  text-align: left !important;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
}

#structureRegion,
#structureSubregion,
#clusterName {
  text-align: left !important;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  padding: 15px 5px;
}

.summary-spinner {
  text-align: center;
}

.viz-spinner {
  text-align: center;
  height: 460px;
  line-height: 460px;
}

.diffex-spinner {
  height: 450px;
  line-height: 450px;
}

.gene-summary-header-container {
  margin-right: 0px;
}

.color-light-blue {
  background-color: #cee5ff;
}

.cluster_v_others_container,
.gene-summary-header {
  padding: 5px;
  background-color: #cee5ff !important;
}

#cluster_v_others {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
}

.kpmp-light-blue {
  color: $link-blue;
}

.icon-info {
  cursor: pointer;
  z-index: 1000;
}

.tooltip-inner {
  background-color: white;
  color: black;
  opacity: 1;
  text-align: left;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.datatypes__menu {
  width: 165% !important;
  @media (max-width: 992px) {
    width: 100% !important;
  }
}

#dt-select-container {
  background: $kpmp-gray;
}

.dataset-info {
  font-size: 14px;
  font-weight: 500;
}

.dataset-info svg {
  fill: #1c7cd5;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 5px;
}

.text-bigger {
  font-size: 18px;
}

.full-width {
  width: 33vw;
}
.gene-summary-info-header {
  font-weight: 400;
}

@media (max-width: 992px) {
  #concept-selector {
    padding-left: -5px !important;
  }
}

.far.fa-question-circle {
  font-size: 25px;
}

.icon-container {
  font-size: 25px;
}

.alert-warning {
  z-index: 99;
}

.featurePlot-title-hidden {
  color:rgba(0, 0, 0, 0);
  hr {
    border-top: 1px solid rgba(0, 0, 0, 0);
  }

}
#umapPlot {
  width: 600px;
  height: 600px;
  @media (max-width: 1200px) {
    width: 450px;
    height: 450px;
  }
  @media (max-width: 991px) {
    width: 600px;
    height: 600px;
  }
  @media (max-width: 768px) {
    width: 500px;
    height: 500px;
  }
  @media (max-width: 508px) {
    width: 330px;
    height: 300px;
  }
  @media (max-width: 409px) {
    width: 350px;
    height: 350px;
  }
}
#featurePlot {
  .g-gtitle {
    transform: translate(-30px);
  }
}
.featurePlot-container, .umapPlot-container {
  text-align: center !important;
  @media (max-width: 992px) {
    text-align: left !important;
  }
}
.featurePlot-loader-background {
  width: 100%;
  height: 85%;
  background-color: #cee5ff;
  margin-top: -40px;
  @media (max-width: 992px) {
    height: 80%;
    margin: 0 auto;
  }
}
.expression-search-copy {
  margin-top: 20%;
  @media (max-width: 992px) {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
}
.expression-search-copy {
  .fa-share {
    transform: rotate(-90deg);
    color: #1c4587;
    font-size: 7em;
    margin-bottom: 30px;
  }
}
.regional-search-copy {
  background-color: #cee5ff;
  height: 150px;
  @media (max-width: 992px) {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    height: 200px;
  }
  .fa-share {
    color: #1c4587;
    transform: rotate(-90deg);
    font-size: 3em;
  }
  .row {
    padding-top:5%;
  }
}
.search-container {
  margin-bottom: 30px;
}

.expanded-search-container {
  height: 97.5%;
}

.buttonhref {
  cursor: pointer;
  color: #007bff ;
  text-decoration: none !important;
  background-color: transparent;
}

.buttonhref:hover {
  color: #0056b3;
  text-decoration: underline;
}

#homepage {
  @media (min-width: 990px) {
    .container {
      max-width: 100%;
    }
  }
  @media (max-width: 635px) {
    .row {
        margin-right: 0px;
        margin-left: 0px; 
      }
  }
  .landing p {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue";
    color: #373a3c;
  }

  .landing .a {
    color: #1c7cd5;
    letter-spacing: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 17px;
  }

  .landing .title {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  .landing .subtitle {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 17px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
  }

  .landing .sub-header {
    font-size: 17px;
  }

  .landing .sub-header.lowered {
    margin-top: 2rem;
  }

  .landing .data-summary {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    text-transform: none;
    font-size: 22px;
    line-height: 2;
    padding-bottom: 0.5em;
    color: #373a3c;
  }
  
  .inactive {
    color: lightgray;
  }

  .card {
    margin-left: 15px;
    margin-top: 15px;
  }

  .nephron-schema {
    max-width: auto;
    height: 50%;
  }

  .cell-type-list {
    list-style-type: none;
  }

  .search-box {
    margin-bottom: 15px;
  }

  .rt-tr.-odd {
    background: #cee5ff !important;
  }

  .rt-resizable-header-content {
    float: left;
  }

  .title {
    margin-top: 0px;
    font-size: 1.2em;
    line-height: 1.4;
  }

  #summary-plot {
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;
  }

  .summary-stats {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .stats-container {
      margin-right: 20px;
      white-space: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-flex: 0;

      .stats-text {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        display: inline-block;

        .stats-icon {
          padding: 25px;
          -webkit-box-flex: 1;
        }

        .inline-block {
          display: inline-block;
          vertical-align: middle;
        }
        .stats-number {
          color: $kpmp-blue;
          font-size: 3em;
          line-height: 1;
        }
        .stats-label {
          color: $kpmp-blue;
          text-transform: uppercase;
        }
      }
    }
  }

  .landing .samples-by-datatype {
    font-size: 14px;
  }

  .landing .samples-by-datatype .rt-tbody .rt-td:not(:first-child),
  .landing .samples-by-datatype .rt-thead .rt-th:not(:first-child) {
    border-right: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
  }

  .rt-resizable-header-content {
    text-align: center;
    width: 100%;
  }

  #summary-plot .ReactTable .rt-thead .rt-th,
  #summary-plot .ReactTable .rt-tbody .rt-td{
    border-right: 1px solid rgba(0, 0, 0, 0.0);
  }

  .js-plotly-plot .plotly svg .y2tick:nth-child(3) text {
    color: red;
  }

  .controlled-data, .landing .controlled-data a {
    font-size: 14px;
  }

  .controlled-data-asterisk {
    color: red;
    font-size: 18px;
  }

  .js-plotly-plot .plotly svg .y2tick text tspan {
    fill: red;
  }

  #summary-plot .ReactTable .rt-thead .rt-th,
  .rt-th.omics.rt-resizable-header .rt-resizable-header-content {
    text-align: left;
    font-weight: 500;
    font-size: 11px;
    white-space: "pre-wrap";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-style: normal;
  }
  #summary-plot .mt-4.row {
    margin-right: 0;
    margin-left: 0;
  }
  #summary-plot .mt-4.row .col-12 {
    padding: 0px;
  }

  .data-type-table-header {
    font-weight: 500;
    font-size: 14px;
    white-space: "pre-wrap";
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  .data-type-table-content {
    font-weight: "300";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: "16px";
    color: "#333";
  }

  .landing .samples-by-datatype .rt-tr.-odd {
    background-color: #cee5ff !important;
  }

  .landing .lock a {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  .landing .lock {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    color: #333;
  }

  .samples-plot {
    overflow: auto;
    width: 100%;
  }

  .landing .fa-lock {
    color: #666666;
  }

  .landing .samples-plot-files {
    font-size: 18px !important;
    color: #333 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }

  .lock-container {
    width: 0%;
    padding-top: 3px;
    @media (max-width: 766px) {
      display: none;
    }
  }

  .y2tick {
    max-height: 20px;
  }

  .y2tick a {
    font-size: 14px !important;
  }

  .fa-lock {
    min-height: 34px !important;
  }

  .hidden-lock {
    opacity: 0;
  }

  .hidden-lock-fix {
    min-height: 32px !important;
  }

  .tightrow {
    margin-left: 4px !important;
  }

  .far.fa-question-circle {
    font-size: 25px;
  }
}

.multi-container-container {
  padding: 0px;
  background-color:rgba(0, 0, 0, 0)
}

#diffexTable {
  @media (max-width: 1200px) {
    .MuiTableCell-alignLeft:not(:first-of-type) {
      display: none !important;
    }
  }
}

.table {
  thead th {
    font-weight: 500;
    font-size: 11px;
    white-space: "pre-wrap";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
}


#data-type-table-explorer {
  .table {
    thead th {
      font-weight: 500;
      font-size: 16px;
      white-space: "pre-wrap";
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    }
    
    td {
      font-size: 16px;
    }
  }

}

#expression-by-cell-type {
  .table {
    tbody td {
      font-size: 14px;
      padding: 3px 5px !important;
    }
  }
}

.ag-theme-material {

  $cell-height: 30px;
  $odd-cell-background-color:  #cee5ff;

  .ag-header-cell {
    background-color: white;
  }

  .ag-row {
    height: $cell-height !important;
  }

  .ag-cell {
    line-height: $cell-height !important;
  }

  .ag-row-odd {
    background-color: $odd-cell-background-color !important;
  }

  .ag-row-odd.ag-row-hover  {
    background-color: $odd-cell-background-color !important;
  }

  .ag-row-even.ag-row-hover  {
    background-color: white !important;
  }

  .ag-header-cell-label {
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }

  .ag-header {
    height: 40px !important;
    min-height: 40px !important;
  }

  .ag-header-active {
    background-color: white !important;
  }

  .custom-tooltip {
    position: absolute;
    width: 180px;
    height: 150px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue";
    pointer-events: none;
    transition: opacity 1s;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 5px !important;
  }

  .custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
  }
  .custom-tooltip div {
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.25);
    padding: 5px;
  }

  .custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
  }

  .custom-tooltip p:first-of-type {
    font-weight: bold;
  }

}

#lmdPlot {
  height: 450px;
}

#lmdLegendPlot {
  height: 410px;
}

.lmd-plot-toggle {
  z-index: 1;
}

.lmd-plot-container {
  margin-top: -3.3rem;
  margin-bottom: -2rem !important;
}
.footnote {
 line-height: 16px;
 margin-bottom: 3.0625rem !important;
}

.indent-1 {
  padding-left: 15px;
}

.indent-2 {
  padding-left: 30px;
}

.a-button {
  cursor: pointer;
  color: #0275d8 !important
}
.dataset-details {
  font-size: 14px;
}

.table-header {
  font-size: 15px;
}

.tooltip {
  font-size: 16px;
}

.height-wrapper {
  min-height: calc(100vh + 16px
    - #{$header-height-padded}
    - #{$footer-height-padded});
}

.btn-secondary {
  background-color: white !important;
  color: rgba(0,0,0,.55) !important;
  border-color: white !important;
}

.dropdown-item:active, .dropdown-item:focus{
  background-color: #dee2e6 !important;
}

.nav-link{
  color: rgba(0,0,0,.55)
}

.cellxgene-dropdown {
  margin-top: -21px;
}

#leftcontent {
  @media (min-width: 992px) {
    margin-right: 15px;
  }
}

.select__menu {
  top: auto !important;
  z-index: 100 !important;
}