@import "kpmp-base.scss";

.inactive {
    color: lightgray;
}

.rt-tr.-odd {
    background: #cee5ff !important;
}

.cell-type-list {
    list-style-type:none;
}

#total-row {
    background: white !important;
}

.MuiPaper-elevation2 {
    box-shadow: none !important;
}

tr.MuiTableRow-root:nth-child(even) {
    background: #cee5ff;
}

#cell-type-tabs {
    .nav-link.active {
        background-color: #007bff;
        color: white;
    }

    .nav-link {
        color: #007bff;
    }

    .cell-type-list {
        background-color: #cee5ff;
    }

    .nav-item {
        cursor: pointer;
    }

    .shorten-img {
        height: 650px;
    }
}

