@import "kpmp-base.scss";

.inactive {
    color: lightgray;
}

.rt-tr.-odd {
    background: #cee5ff !important;
}

.cell-type-list {
    list-style-type:none;
}

#total-row {
    background: white !important;
}

.MuiPaper-elevation2 {
    box-shadow: none !important;
}

tr.MuiTableRow-root:nth-child(even) {
    background: #cee5ff;
}

