@import "kpmp-base.scss";

.inactive {
    color: lightgray;
}

.card {
    margin-left: 15px;
    margin-top: 15px;
}

.nephron-schema {
    max-width: auto;
    height: 50%;
}

.cell-type-list {
    list-style-type:none;
}

.search-box {
    margin-bottom: 15px;
}