@import "common-values.scss";

.container {
	background: white;
}

body {
	font-size: 16px;
	background-color: $kpmp-gray;
}

#footer {
	background: $footer-color;
}

.navbar-header {
	text-decoration: none !important;
}

#navbar {
	background-color: white;

	.nav-item.active {
		.nav-text {
          @media (max-width: 576px) {
              padding-bottom: 5px;
            }
            padding-bottom: 12px;
			margin-bottom: -6px;
			content: " ";
		}
	}

	.navbar-brand img.logo {
		width: 80px;
		min-width: 80px;
	}
	
	.navbar-brand {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	
	.active .nav-link {
		color: #0082f3 !important;
		font-weight: bold;
	}

	.nav-link:hover {
		color: #0275d8 !important;
	}
	
	#nav-user-dropdown-menu {
		a:hover {
			text-decoration: none !important;
		}
	}
}

#root {
	position: relative;
	overflow-y: scroll;

	/* xs to sm */
	top: calc(#{$header-height-padded});
	height: calc(100vh + 10px
		- #{$header-height-padded}
		- #{$footer-height-padded});

	/* md and up */
	@media (min-width: 768px) {
		top: calc(#{$header-height-padded});
		height: calc(100vh + 10px
			- #{$header-height-padded}
			- #{$footer-height-padded});
	}
}

#oops-content {

	margin-top: 150px;

	.oops-big {
		font-size: 72px;
	}

	.oops-small {
		font-size: 32px;
	}

	#oops-image {
		width: 385px;
		height: 330px;
	}
}


#title-text {
	margin-bottom: 0;
	font-size: 20px;
}

#not-found-page {
    padding: 20px;

    .not-found-image {
        max-width: 90%;
        margin-top: 30px;
        margin-right: 40px;
    }

    .not-found-container {
        max-width: 60%;
        margin: auto;
    }
    
    .not-found-text {
        padding-top: 30px;

        .not-found-regular {
            font-size: 32px;
        }
        
        .not-found-small {
            font-size: 24px;
        }
    }
}